#hackBlock {
	border: solid max(.1vw, 1px) black;
	border-radius: 10px;
	margin: auto;
	margin-top: 2%;
	background-color: rgb(34,40,50);
	width: max(90vw, 300px);
	height: min(70vw, 90vh);
}

button, input[type=submit] {
	font-family: 'Bauhaus 93';
	background-color: grey;
	color: white;
	font-size: max(2vw, 20px);
	-webkit-text-stroke-width: max(.05vw,.5px);
    -webkit-text-stroke-color: black;
	width: max(12vw, 120px);
	padding: max(1.5vw, 15px);
	padding-top:max(.25vw,2.5px);
	padding-bottom:max(.25vw,2.5px);
	border: solid max(.1vw,1px) black;
	border-radius: 10px;
	transform: translate(-50%, -50%);
	margin-left: 50%;
	margin-top: 2%;
}

button:hover {
	color: darkgrey;
	background-color: white;
	cursor: pointer;
}

input[type=submit]:hover {
	color: darkgrey;
	background-color: white;
	cursor: pointer;
}

.settings {
	margin-top:5%;
	width: 100%;
}

.timing {
	display: block;
	margin-left: 50%;
	margin-top: 10%;
	transform: translate(-50%);
	font-size: max(2.5vw, 25px);
	-webkit-text-stroke-width: max(.1vw,1px);
    -webkit-text-stroke-color: black;
    text-align: center;
}

.interval {
	margin-top: 5%;
	margin-left: 50%;
	transform: translate(-50%);
	color: white;
	width: max(5vw, 50px);
	padding: 1.5vw;
	background-color: rgb(76,88,122);
	font-size: max(2.5vw, 25px);
	border-radius: 10px;
}

.startButton {
	margin-top: 7%;
}

.home, .retry {
	margin-top: 2%;
}

.middleText {
	text-align: center;
	margin-top: min(30vw, 45vh);
	margin-left: 50%;
	transform: translate(-50%, -50%);
	font-size: max(3.5vw, 35px);
	-webkit-text-stroke-width: max(.05vw,.5px);
    -webkit-text-stroke-color: black;
}

.middleText.fail {
	margin-top: min(20vw, 30vh);
	margin-bottom: 0;
	font-size: max(1.8vw, 20px);
}

#timerSection {
	outline: solid 1px white;
	width: 20%;
	margin: auto;
	text-align: center;
	margin-top: 2%;
	font-size: max(2vw, 14px);
}

#timerSection > p {
	font-family: 'calibri';
}

#hackBlocksSection {
	margin-top: 3%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.digitPlace {
	background-color: rgb(76,88,122);
	text-align: center;
	color: white;
	font-family: 'calibri';
	width: max(19vw, 60px);
	height:  max(19vw, 60px);
	margin-left: 1.8vw;
	line-height: max(19vw, 60px);
	font-size: max(8vw, 40px);
	animation: shrink;
	animation-delay: 1s;
	animation-duration: 1.5s;
}

@keyframes shrink {
	from {font-size: max(8vw, 40px);}
	to {font-size: 1px;}
}

.quizBox {
	background-color: white;
	text-align: center;
	color: white;
	font-family: 'calibri';
	width: max(19vw, 60px);
	height: max(19vw, 60px);
	margin-left: 1.8vw;
	border: solid 2px black;
}

.quizBox[data-position='left'], .digitPlace[data-position='left'] {
	margin-left: 0;
}

.internalShape {
	position: absolute;
	z-index: 1;
	width: max(16.2vw, 50px);
	height: max(16.2vw, 50px);
	margin-left: 1.25vw;
	margin-top: 1.25vw;
	border: solid .15vw black;
}

.CIRCLE {
	border-radius: 50%;
}

.TRIANGLE {
  	clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.SQUARE {
	border-radius: 0;
}

.RECTANGLE {
	height: max(8vw, 30px);
	margin-top: max(5vw, 15px);
}

.quizBox > p {
	position: absolute;
	z-index: 2;
	font-size: max(2.5vw, 10px);
	font-weight: 900;
	width: max(19.5vw, 60px);
	text-align: center;
	-webkit-text-stroke-width: max(.1vw,.5px);
    -webkit-text-stroke-color: black;
}

.colorText {
	margin-top: max(5vw, 10px);
}

.numberText {
	margin-top:  max(7.5vw, 20px);
}

.shapeText {
	margin-top: max(10vw, 34px);
}

.round-time-bar {
	position: absolute;
	margin-top: 3%;
	width: 40%;
	overflow: hidden;
	height: 5px;
	animation: roundtime calc(var(--duration) * 1s) linear forwards;
	background: linear-gradient(to bottom, #Ff8500, #b33b00);
}

.hiding-bar {
	position: absolute;
	margin-top: 3%;
	z-index: 1;
	width: 80%;
	left: 10%;
	height: 5px;
	background: linear-gradient(to bottom, #995000, #4c2800);
}

.round-time-bar.left {
	z-index: 2;
	left:10%;
	transform-origin: right center;
}

.round-time-bar.right {
	z-index: 2;
	left:50%;
	transform-origin: left center;
}

@keyframes roundtime {
  to {
    transform: scaleX(0);
  }
}

#answerSection {
	margin-top: 8%;
	width: 100%;
}

#answerSection > form > label {
	width: 100%;
	display: block;
	text-align: center;
	font-size: max(1.2vw, 8px);
	font-weight: 700;
	letter-spacing: .5px;
	font-family: 'calibri';
}

#answerInput {
	color: white;
	margin-left: max(30%, 87.5px);
	margin-top: 3%;
	width: max(40%, 125px);
	padding: max(.5vw, 5px);
	background-color: transparent;
	font-size: max(2vw, 10px);
	outline: none;
	border: 0;
	border-bottom: max(.2vw, 2px) solid white;
}

#answerInput::placeholder {
	color: grey;
}