#thermiteBlock {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: solid max(.1vw, 1px) black;
	border-radius: 10px;
	background-color: rgb(34,40,50);
	width: max(25vw, 300px);
	height: max(25vw, 300px);
}

button, input[type=submit] {
	font-family: 'Bauhaus 93';
	background-color: grey;
	color: white;
	font-size: max(1.8vw, 18px);
	-webkit-text-stroke-width: max(.05vw,.5px);
    -webkit-text-stroke-color: black;);
	width: max(12vw, 120px);
	padding: max(.25vw, 2.5px);
	padding-top:max(.25vw, 2.5px);
	padding-bottom:max(.5vw,5px);
	border: solid max(.1vw,1px) black;
	border-radius: 10px;
	transform: translateX(-50%);
	margin-left: 50%;
	margin-top: 2%;
}

button:hover {
	color: darkgrey;
	background-color: white;
	cursor: pointer;
}

input[type=submit]:hover {
	color: darkgrey;
	background-color: white;
	cursor: pointer;
}

.home, .retry {
	margin-top: 3%;
}

.settings {
	margin-top:2%;
	width: 100%;
}

.timing {
	display: block;
	margin-left: 50%;
	margin-top: 10%;
	transform: translate(-50%);
	font-size: max(2vw, 20px);
	-webkit-text-stroke-width: max(.1vw,1px);
    -webkit-text-stroke-color: black;
    text-align: center;
}

.interval {
	margin-top: 5%;
	margin-left: 50%;
	transform: translate(-50%);
	color: white;
	width: max(3vw, 30px);
	padding: 1.5vw;
	background-color: rgb(76,88,122);
	font-size: max(1.5vw, 15px);
	border-radius: 10px;
}

.startButton {
	margin-top: 6%;
}

.middleText {
	text-align: center;
	margin-bottom: 0;
	margin-top: max(12.5vw, 150px);
	margin-left: 50%;
	transform: translate(-50%, -50%);
	font-size: max(3vw, 30px);
	-webkit-text-stroke-width: max(.05vw,.5px);
    -webkit-text-stroke-color: black;
}

.middleText.fail {
	margin-top: max(6vw, 60px);
	font-size: max(2vw, 20px);
}

.retryForm {
	margin-top: 2%;
}

.grid {
	width: max(24.8vw, 298px);
	height: max(24.8vw, 298px);
	margin-left: max(.1vw, 1px);
	margin-top: 50%;
	transform: translateY(-50%);
	border-collapse: seperate;
	border-spacing: max(.7vw, 7px);
}

.block {
	background-color: rgb(76,88,122);
}

.block:hover {
	cursor: pointer;
}

.block.highlighted {
	background-color: lightgrey;
}

.block.wrong {
	background-color: red;
}