body {
	background: rgb(103, 152, 109);
}

#canvHolder {
	width: 55%;
	height: 55vh;
	margin: auto;
	margin-top: 10vh;
	background: rgb(34,40,50);
	display: flex;
    flex-direction: column;
    justify-content: center;
}

button, input[type=submit] {
	font-family: 'Bauhaus 93';
	background-color: grey;
	color: white;
	font-size: max(1.8vw, 18px);
	-webkit-text-stroke-width: max(.05vw,.5px);
    -webkit-text-stroke-color: black;
	width: max(12vw, 120px);
	padding: max(.25vw, 2.5px);
	padding-top:max(.25vw, 2.5px);
	padding-bottom:max(.5vw,5px);
	border: solid max(.1vw,1px) black;
	border-radius: 10px;
	transform: translateX(-50%);
	margin-left: 50%;
	margin-top: 2%;
}

button:hover {
	color: darkgrey;
	background-color: white;
	cursor: pointer;
}

input[type=submit]:hover {
	color: darkgrey;
	background-color: white;
	cursor: pointer;
}

canvas {
	margin-left: 50%;
	transform: translateX(-50%);
	width: 50vw;
	height: 50vh;
}
