#hackBlock {
	border: solid max(.2vw, 2px) black;
	border-radius: 10px;
	margin: auto;
	margin-top: 2%;
	background-color: rgb(18,18,36);
	width: max(90vw, 300px);
	height: min(70vw, 90vh);
}

button {
	font-family: 'Bauhaus 93';
	background-color: grey;
	color: white;
	font-size: max(2vw, 20px);
	-webkit-text-stroke-width: max(.1vw,1px);
    -webkit-text-stroke-color: black;);
	width: max(20vw, 200px);
	padding: max(2vw, 20px);
	padding-top:max(1vw,10px);
	padding-bottom:max(1vw,10px);
	border: solid max(.2vw,2px) black;
	border-radius: 15px;
	transform: translate(-50%, -50%);
	margin-left: 50%;
}

button:hover {
	color: black;
	background-color: white;
	cursor: pointer;
}

.settings {
	margin-top:5%;
	width: 100%;
}

.timing {
	display: block;
	margin-left: 50%;
	margin-top: 10%;
	transform: translate(-50%);
	font-size: max(3.5vw, 35px);
	-webkit-text-stroke-width: max(.1vw,1px);
    -webkit-text-stroke-color: black;
    text-align: center;
}

.interval {
	margin-top: 5%;
	margin-left: 50%;
	transform: translate(-50%);
	color: white;
	width: max(5vw, 50px);
	padding: 1.5vw;
	background-color: rgb(72,72,144);
	font-size: max(2.5vw, 25px);
}

.startButton {
	margin-top: 10%;
}

.home, .retry {
	margin-top: 2%;
}

.middleText {
	text-align: center;
	margin-top: min(30vw, 45vh);
	margin-left: 50%;
	transform: translate(-50%, -50%);
	font-size: max(3.5vw, 35px);
	-webkit-text-stroke-width: max(.1vw,1px);
    -webkit-text-stroke-color: black;
}

.middleText.fail {
	margin-top: min(20vw, 30vh);
	margin-bottom: 0;
	font-size: max(2vw, 20px);
}

#timerSection {
	outline: solid 1px white;
	width: 20%;
	margin: auto;
	text-align: center;
	margin-top: 2%;
	font-size: max(2vw, 14px);
}

#timerSection > p {
	font-family: 'calibri';
}

#hackBlocksSection {
	margin-top: 3%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.digitPlace {
	background-color: rgb(55,55,125);
	text-align: center;
	color: white;
	font-family: 'calibri';
	width: max(16vw, 50px);
	height:  max(16vw, 50px);
	margin-left: 1vw;
	line-height: max(16vw, 50px);
	font-size: max(8vw, 36px);
	animation: shrink;
	animation-delay: 1s;
	animation-duration: 1.5s;
}

@keyframes shrink {
	from {font-size: max(8vw, 36px);}
	to {font-size: 1px;}
}

.quizBox {
	text-align: center;
	font-family: 'calibri';
	width: max(16vw, 50px);
	height: max(16vw, 50px);
	margin-left: 1vw;
	border: solid 2px black;
}

.quizBox[data-position='left'], .digitPlace[data-position='left'] {
	margin-left: 0;
}

.internalShape {
	position: absolute;
	z-index: 1;
	width: max(14vw, 40px);
	height: max(14vw, 40px);
	margin-left: 1vw;
	margin-top: 1vw;
	border: solid .15vw black;
}

.CIRCLE {
	border-radius: 50%;
}

.TRIANGLE {
  	clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.SQUARE {
	border-radius: 0;
}

.RECTANGLE {
	height: max(7vw, 30px);
	margin-top: 4.5vw;
}

.quizBox > p {
	position: absolute;
	z-index: 2;
	font-size: max(2.5vw, 10px);
	font-weight: 900;
	width: max(16.5vw, 50px);
	text-align: center;
	-webkit-text-stroke-width: max(.1vw,.5px);
    -webkit-text-stroke-color: black;
}

.colorText {
	margin-top: max(4.2vw, 10px);
}

.numberText {
	margin-top:  max(6.6vw, 20px);
}

.shapeText {
	margin-top: max(9vw, 34px);
}

.round-time-bar {
	display: inline-block;
	margin-top: 3%;
	width: 40%;
	overflow: hidden;
	height: 5px;
	animation: roundtime calc(var(--duration) * 1s) linear forwards;
	background: linear-gradient(to bottom, orange, #900);
}

.round-time-bar.left {
	margin-left: 10%;
	transform-origin: right center;
}

.round-time-bar.right {
	margin-right: 10%;
	transform-origin: left center;
}

@keyframes roundtime {
  to {
    transform: scaleX(0);
  }
}

#answerSection {
	margin-top: 1.5%;
	width: 100%;
}

#answerSection > form > label {
	width: 100%;
	display: block;
	text-align: center;
	font-size: max(2vw, 10px);
	font-family: 'calibri';
}

#answerInput {
	color: white;
	margin-left: max(30%, 87.5px);
	margin-top: 1%;
	width: max(40%, 125px);
	padding: max(.5vw, 5px);
	background-color: rgb(72,72,144);
	font-size: max(2vw, 10px);
}

#answerInput::placeholder {
	color: lightgrey;
}